---
layout: default
title: Home
---

<div>
  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <div class="post-header">
      <h1>{{ year.name }}</h1>
    </div>
    {% for post in year.items %}
    <div class="post">
      <h3 class="post-link">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {{ post.excerpt }}
    </div>
    {% endfor %}
  {% endfor %}
</div>